<div class="bm_sort_wrap mb-20-xx">
    <div class="bm_sort_list bm_list_group">
        <h2 class="bm_list_item bm_sort_head">分类</h2>
        <a class="bm_list_item {% if page.category == false %} active {% endif %}" href="{{ site.url}}/lectures/index.html">全部分类</a>
        <a class="bm_list_item {% if page.category == "dongwu" %} active {% endif %}" href="{{ site.url }}/category/dongwu">动物</a>
        <a class="bm_list_item {% if page.category == "zhiwu" %} active {% endif %}" href="{{ site.url }}/category/zhiwu">植物</a>
        <a class="bm_list_item {% if page.category == "shengtai" %} active {% endif %}" href="{{ site.url }}/category/shengtai">生态</a>
    </div>
</div>