---
layout: default
---

<div class="bm_row clearFix" data-content="">
    <div class="bm_col_lg_9 bm_col_xx_12">
        <div class="bm_lecture_wrap">
            <ol class="bm_breadcrumb">
                <li>您所在的位置：<a href="javascript:void(0);">首页</a> </li>
                <li>>></li>
                <li><a href="{{ site.url }}/lectures.html">讲座介绍</a> </li>
                <li>>></li>
                <li><a href="{{ site.url }}/category/{{ page.category }}">{{ page.categoryCn }}</a> </li>
                <li>>></li>
                <li class="active">{{ page.title }}</li>
            </ol>
            <article class="bm_lecture_main">
                <header class="bm_lecture_title">
                    <h1>{{ page.title }}</h1>
                </header>
                <section class="bm_lecture_content" data-fixPos="true" data-fix="true" data-direction="left">
                    <p><img src="/static/imgs/posts/{{ page.cover }}"> </p>
                    <h2>主讲人：{{ page.author }}</h2>
                    <h2>详细信息：</h2>
                    {{content}}
                    <a href="{{site.url}}/appointment.html" target="_blank" class="bm_btn bm_appointment_trigger bm_ie6_hide" data-fixPosTarget="true">我要预约</a>
                    <a href="{{site.url}}/appointment.html" target="_blank" class="bm_btn bm_appointment_trigger">我要预约</a>
                </section>
            </article>
            <nav class="bm_pager_wrap">
                <ul class="bm_pager">
                    {% if page.previous %}
                    <li><a href="{{ page.previous.url }}">&#8592;&nbsp;{{ page.previous.title | truncatewords:5 }}</a></li>
                    {% endif %}
                    {% if page.next %}
                    <li><a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}&nbsp;&#8594;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="bm_col_lg_3 bm_col_xx_12">
        <div class="bm_sort_wrap mt-20-xx">
            {% include lectureSort.html %}
        </div>
    </div>
</div>