@import "../_variables";

$fontLectureP: #777;

.bm_lecture_item {
  margin-bottom: 20px;
  margin-bottom: 1rem;
  padding: 20px;
  background-color: #{$bgWhite};
  transition: background-color 100ms ease-in;
  border: 1px solid #{$bdGray};
  box-shadow: 0px 1px 0px 1px #eee;
  &:last-child{
    margin-bottom: 0;
  }
  &:hover{
    background-color: darken( $bgWhite, 5% );
  }

  .bm_lecture_cover{
    width: 180px;
    height: auto;
    border-radius: 5px;
  }
  .bm_lecture_title{
    margin-bottom: 12px;
    margin-bottom: .6rem;
    font-size: 24px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #{$fontGreen};
  }
  p{
    color: #{$fontLectureP};
    font-size: 14px;
    font-size: .7rem;
    font-weight: normal;
    line-height: 1.5;
    strong{
      color: #{$fontGreen};
    }
  }
  .bm_lecture_more{
    margin-top: 14px;
    margin-top: .7rem;
    text-align: right;
    a{
      text-decoration: none;
      color: #{$fontGreen};
    }
  }

  @media #{$media} and (max-width: $screen-xs-max){
    .bm_lecture_cover{
      width: 90px;
      height: auto;
    }
  }
  @media #{$media} and (max-width: $screen-xx-max){
    .bm_media_left{
      display: block;
    }
    .bm_lecture_cover{
      margin: 0 auto 5px auto;
    }
    .bm_lecture_more{
      text-align: center;
    }
  }
}

.bm_lecture_wrap{
  padding: 20px;
  padding: 1rem;
  background-color: #{$bgWhite};
  border: 1px solid #{$bdGray};
}

.bm_lecture_main{
  margin: 0 auto;
  padding: 0;

  .bm_lecture_title{
    margin-bottom: 24px;
    color: #{$fontGreen};
    font-size: 30px;
    text-align: center;
  }

  .bm_lecture_content{
    position: relative;
    line-height: 1.714285714;
    font-size:14px;
    font-size: .7rem;

    h2,h3,h4,h5,h6{
      border-left: 3px solid #{$bdGreen};
      padding-left: 5px;
      margin-left: -8px;

      margin-top:20px;
      margin-top:1rem;
      margin-bottom:16px;
      margin-bottom: .8rem;
      line-height: 1.714285714;

      @media #{$media} and (max-width: $screen-xs-max){
        margin-top:24px;
        margin-top:1.2rem;
        margin-bottom:20px;
        margin-bottom: 1rem;
      }
    }
    h2{
      font-size:18px;
      font-size:.9rem;
      line-height: 1.6;
    }
    h3{
      font-size:16px;
      font-size:.8rem;
      line-height: 1.846153846;
    }
    h4{
      font-size:14px;
      font-size:.7rem;
      line-height: 1.846153846;
    }
    h5{
      font-size:13px;
      font-size:.65rem;
      line-height: 1.846153846;
    }
    h6{
      font-size:12px;
      font-size:.6rem;
      line-height: 1.846153846;
    }

    p{
      margin-bottom: 16px;
      margin-bottom: .8rem;
      line-height: 1.714285714;

      @media #{$media} and (max-width:$screen-xs-min) {
        margin-bottom: 12px;
        margin-bottom: .6rem;
      }
    }

    img{
      border-radius: 3px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

      max-width:100%;
      height: auto;
    }

    /* UL OL LI */
    ul,ol{
      margin-bottom: 8px;
      margin-bottom: .4rem;
      padding-left: 30px;
      padding-left: 1.5rem;
    }
    ul{
      list-style: disc;
      ul{
        list-style: circle;
      }
    }
    ol{
      list-style: decimal;
    }

    /*<pre> <code>*/
    pre, code, tt {
      font-size: 12px;
      font-size: .6rem;
      font-family: Consolas, "Liberation Mono", Courier, monospace;
    }

    code, tt {
      margin: 0 0px;
      padding: 0px 4px;
      white-space: nowrap;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
    }

    pre {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      margin-bottom: 10px;
      margin-bottom: .5rem;
      border-radius: 3px;

      code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent;
      }
    }

    pre code, pre tt {
      background-color: transparent;
      border: none;
    }

    /* QUOTES */
    blockquote {
      border-left: 4px solid #DDD;
      padding: 0 15px;
      color: #777;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .bm_appointment_trigger{
    display: block;
    position: absolute;
    top: 10px;
    top: .5rem;
    left: 0;
    margin: 0;
    background-color: lighten($bgGreen, 5%);
    opacity: .7;
    z-index: 1;
    color: #{$fontWhite};
    text-decoration: none;
    &:hover,
    &:focus{
      opacity: 1;
    }
  }
}

#bm_lecture_caution{
  display: none;
  font-size: 14px;
  line-height: 2;
  color: #{$fontGrayer};
  background-color: #{$bgWhite};
  h2{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #{$fontGreen};
    text-align: center;
  }
}

#bm_lecture_appointment_form{
  display: none;
}

#bm_lecture_appointment_feedback{
  display: none;
  font-size: 16px;
  color: #{$fontDefault};
  .fb_message{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .wrong{
    color: #{$fontDanger};
  }
  .success{
    color: #{$fontSuccess};
  }
  .fb_closeCountdown{
    color: #{$fontWarning};
  }
  .fb_closeBtn{
    display: none;
  }
}

#bm_lecture_appointment_maike{
  display: none;
  padding: 0;
  // adjustment for maike
  .f_component{
    padding: 0px 30px 0px 30px
  }
}

// modify the jquery.modal plugin
#bm_lecture_caution, #bm_lecture_appointment_form, #bm_lecture_appointment_feedback, #bm_lecture_appointment_maike{
  @media #{$media} and (max-width: $screen-xx-max){
    margin-left: 5%;
    width: 90% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    section, form, p{
      padding: 10px 20px;
    }
  }
}